body {
  --text-colour: black;
  --bg-colour: white;
  --theme-gradient: linear-gradient(10deg, #00aad9 15%, #00d970 85%);
  margin: 0px;
  color: var(--text-colour);
  background: var(--bg-colour);
  text-align: center;
  font-size: 18px;
  font-family: arial;
  overflow: scroll;
  overflow-x: auto;

  background-image: radial-gradient(#dddddd 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: #f9f9f9;
}
body[data-dark="true"] {
  --text-colour: white !important;
  --bg-colour: black !important;

  background-image: radial-gradient(#484848 2px, transparent 2px);
  background-size: 32px 32px;
  background-color: #1e1e1e;
}

.nav-bar {
  background: var(--theme-gradient);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  font-family: Tilt Warp, arial;
  font-size: 2em;
  object-fit: contain;
  user-select: none;
  color: white !important;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 900;
  border-right: dashed white 2px;
  cursor: pointer;
}
.logo img {
  height: 80%;
  max-height: 80%;
  border-radius: 50%;
  margin-left: 5px;
}
.logo:hover {
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 8px #fff;
}
.logo:hover img {
  filter: drop-shadow(0px 0px 8px #fff);
}

.nav-btn {
  width: 100%;
  height: 100%;
  margin: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-btn img {
  height: 20px;
  width: 20px;
  margin: 5px;
}
.nav-btn span {
  font-size: 0.5em;
  margin-right: 5px;
}
.nav-btn:hover {
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 8px #fff;
}
.nav-btn:hover img {
  filter: drop-shadow(0px 0px 8px #fff);
}
